<!-- <p>Footer content</p> -->
<% content_for :javascripts do %>

<%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'ui' %>
<%= javascript_include_tag '/wymeditor/jquery.wymeditor' %>
<%= javascript_include_tag 'boot_members_wymeditor' %>

<% end  %>
