$default-background: #fff;

$light-bg1: #eee;
$mid-bg1: #bbb;
$mid-bg1-highlight: #aaa;
$bar1-topbg: #eee;
$bar1-midbg: #bbb;
$bar1-lighterbg: #ccc;
$post-border: #ccc;
$bar1-bottombg: #aaa;


$darker-text: #260F01;
$default-text: #444;
$visited-text: #666;
$lighter-text: #8C887B;


$darkbg: #333;
$darkbg-highlight: #222;