$default-background: #fff;
$off-default-background: #f8f8f8;

$light-bg1: #eee;
$mid-bg1: #bbb;
$mid-bg1-highlight: #aaa;
$mid-bg2: #888;
$mid-bg2-highlight: #777;

$bar1-topbg: #eee;
$bar1-midbg: #bbb;
$post-border: #ccc;
$bar1-bottombg: #aaa;


$darker-text: #260F01;
$default-text: #444;
$visited-text: #666;
$lighter-text: #8C887B;


$default-border: #ccc;

$darkbg: #333;
$darkbg-highlight: #222;