* {
    text-decoration: none;
}
body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: underline;
}

#page strong, #page caption {
    font-weight: bold;
}

#page em {
    font-style: italic;
}

#menu, menu, .actions, h1, h2, h3, h4 {
    font-family: Questrial;
    font-weight: 400;
}

#menu {
    font-size: 16px;
}

menu, .actions {
    font-size: 15px;
}

#body_content_left *, #body_content_right *, .page_part_body, .page_part_side_body {
    line-height: 22px;
}

p {
    line-height: 17px;
}


#header #logo {
    font-size: 35px;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}


input.string {
    font-size: 16px;
}