#page, #site_bar_content, footer, header {
  width: 1000px;
  margin: 0px auto;
  clear:both;
}


#body_content_left {
  float: left;
  width: 600px;
  .inner {
    padding-right: 10px;
  }
}
#body_content_right {
  float: right;
  width: 400px;
  .inner {
    padding-left: 10px;
  }
}
#body_content.no_body_content_left #body_content_right,
  #body_content.no_body_content_right #body_content_left {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}
.menu {
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    padding: 0px;
    margin: 0px 9px 0px 0px;
    list-style: none;
    float: left;
    &.last {
      margin-right: 0px;
    }
    &.selected {
      > a {
        font-weight: bold;
      }
    }
  }
}

#body_content_left p, #body_content_right p, .page_part_body p, .page_part_side_body p {
    margin-bottom: 12px;
}

#body_content {
    margin-top: 36px;
}
#body_content_left {
    width: 574px;
}
#body_content_right {
    width: 396px;
}


#body, #body_content, #header_content, #footer_content, #site_bar_content {
    width: 990px;
    margin: 0px auto;
}

#header {
    clear:both;
}

#header_content {
    position: relative;
    height: 132px;
}


#header_content h1, #header_content #menu {
    position: absolute;
    bottom: 30px;
    margin: 0px;
}
#header_content #menu {
    right: 0px;
    padding: 0px;
}
#language_switcher {
    float:right;
    padding-top:15px;
}

#menu li, #menu > a, #menu div {
    float: left;
    list-style: none;
    position: relative;
}


#header_content h1, #header_content h1 a {
    left: 0px;
}
#menu a, #menu li:hover ul li a, #menu a:hover nav a {
    display: block;
    padding: 10px 18px;
}

#menu li ul, #menu nav {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 300px;
    background: white;
}
#menu li ul li, #menu nav a {
    float: left;
}

#menu li:hover ul, #menu div:hover nav {
    left: auto;
}
#footer, footer {
    margin-top: 120px;
    clear:both;
}

#footer_content {
    height: 103px;
    padding-top: 94px;
}

.inquiries .field input, .inquiries textarea {
  border: 1px solid #75766f;
  margin-left: 0px;
}
.inquiries textarea {
  width: 375px;
}

