h1, h2, h3, h4, h5 {
    clear: both;
}
label {
    display: block;
}
//// BODY

#page, #site_bar_content, footer, header {
    width: 1000px;
    margin: 0px auto;
    clear:both;
}

header, #header {
    width: 998px;
}

#body_content_title, #forums_title {
    padding: 8px;
    padding-top: 12px;
    padding-left: 20px;
    margin-bottom: 6px;
    margin-right: -2px;
    border-top: 1px solid #ccc;
}

#forum > h2:first-child, #topic > h2:first-child, h2.topics_title, h2.categories_title {
    padding-top: 12px;
}

#body {
    float: left;
    width: 596px;
    min-height: 400px;
    .inner {
        padding: 10px;
    }
}
#side_body {
  float: right;
  width: 398px;
  margin-right: -2px;
  min-height: 400px;
  .inner {
    padding: 10px;
  }
}

.no_side_body #body {
  width: 1000px;
}

#body p, #side_body p, .page_part_body p, .page_part_side_body p {
    margin-bottom: 12px;
}

#body_content {
    margin-top: 36px;
}


#body_content, #header_content, #footer_content, #site_bar_content {
    width: 990px;
    margin: 0px auto;
}

#body_content {
    width: 1000px;
}



//// HEADER


#header {
    clear:both;
    #logo {
        padding: 8px;
        padding-bottom: 4px;
    }
    #login_status {
        float: right;
        margin-top: 8px;
        margin-bottom: -30px;
    }
}

#language_switcher {
    float:right;
    padding-top:15px;
}



//// MENUS

// refinery: nav#menu.menu.clearfix ul li.selected a
// forem: menu a

#menu, menu {
    li, div, > a {
        float: left;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
}

menu a, #menu a, #menu li:hover ul li a, #menu a:hover nav a {
    display: block;
    padding: 10px 18px;
}

menu{
    margin: 0;
    margin-top: 15px;
    padding: 0;
    a {
        padding: 5px;
        text-decoration: none;
        margin: 0;
        margin-right: 6px;
    }
}

#menu li ul, #menu nav {
    position: absolute;
    left: -99999px;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
    max-width: 300px;
}

#menu li ul li, #menu nav a {
    float: left;
}

#menu li:hover ul, #menu div:hover nav {
    left: auto;
}


.menu {
  ul {
    margin: 0px;
    padding: 0px;
  }
  li {
    padding: 0px;
    margin: 0px 9px 0px 0px;
    float: left;
    &.last {
        margin-right: 0px;
    }
  }
}

//// FOOTER

#footer, footer {
    margin-top: 120px;
    clear:both;
}

#footer_content {
    height: 103px;
    padding-top: 94px;
}


//// INQUIRIES

.inquiries .field input, .inquiries textarea {
  border: 1px solid #75766f;
  margin-left: 0px;
}
.inquiries textarea {
  width: 375px;
}

