@import "color_variables";

body {
    color: $default-text;
    background-color: $default-background;
}

input, textarea, select, p, li, blockquote, a, input {
    color: inherit;
    background-color: inherit;
}


h1, h2, h3, h4, h5 {
    color: $darker-text;
}

a {
    color: $darker-text
}

a:visited {
    color: $visited-text;
}

a:hover {
    color: $lighter-text;
}


body {
    background-image: url("/images/stripe.png");
}

#page blockquote {
    padding-left: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-left: 3px solid #444;
    font-style: italic;
}

#body_content_title, #forums_title {
    display: block;
    background-color: $light-bg1;
}

#body_content_right img {
    border: 3px solid #c7c7c7;
}

#header, header, menu, #menu {
    &, * {
        color: $darker-text;
        background-color: $mid-bg1;
    }
    a, a:visited, a:hover {
        text-decoration: none;
        color: inherit;
    }
}

header, #header {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}


#body_content_title, #forums_title, #forum > h2:first-child, #topic > h2:first-child {
    border: 1px solid #ccc;
    border-top: none;
}

#menu, menu {
    li, div, > a {
     &.selected, &.selected * {
        background-color: $light-bg1;
      }
      &:hover, &:hover * {
          background-color: $mid-bg1-highlight;
      }
    }
}

menu {
    color: $default-text;
}

input.string {
    height: 20px;
    margin-bottom: 0;
    width: 100%;
}

#body_content_left, #body_content_right {
    background-color: white;
    border: 1px solid $default-border;
}
//
// #menu a, #menu li:hover ul li a, #menu a:hover nav a {
//     color: #969792;
//     cursor: pointer;
// }

// #menu li.selected a, #menu li:hover a, #menu li a:hover, #menu li ul li a:hover, #menu div.selected a, #menu a.selected, #menu a:hover, #menu div:hover > a {
//     color: #32322b;
//     background: white;
// }

// #menu li ul, #menu nav {
//     background: white;
// }
//

// .menu {
//     li.selected > a {
//         font-weight: bold;
//     }
// }


#footer, footer {
}

textarea {
    background-color: white;
}

form input {
    font-size: 140%;
    font-family: Questrial;
    background-color: white;
    margin: 5px 0;
    padding: 8px;
}

.error {
    color: #c00;
}
.inquiries .field input, .inquiries textarea {
    border: 1px solid #75766f;
}


